<!DOCTYPE html>
<html lang="{% if page.language == nil %}en{% else %}{{ page.language }}{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="WtYBN6X_IArLFGj3af66uTRZTASUtIfvIWEVNfA639g" />
  <meta property="fb:app_id" content="{1096939647018482}" />
  <meta property="fb:admins" content="{nolboo}"/>
  <title>
    {{ page.title }}
    {% if page.category == 'blog' and page.url != '/blog/index.html' %}
    - @n0lb00's Blog
    {% endif %}
  </title>
<!--   <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:700,400|Titillium+Web:700,400"> -->
  <link rel="stylesheet" href="/css/site.css">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
  <link rel="alternate" type="application/atom+xml" title="RSS Feed for Nolboo's blog" href="/feed.xml" />
<!--   {% if page.url == '/index.html' %}
    <link rel="alternate" hreflang="fr" href="/fr/" />
  {% elsif page.url == '/fr/index.html' %}
    <link rel="alternate" hreflang="en" href="/" />
  {% endif %} -->

<!--Start of Crisp.im Script-->
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="00f38ba2-6a10-4cf2-b79a-a9af8bdf3552";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.im/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<!--End of Crisp.im Script-->
  {{ page.extra_head }}
</head>
<body>
  <div class="top-bar"></div>

  <div class="container">
    <div class="site">
      <header>
        <nav>
          <a class="{% if page.category == '/' %} selected {% endif %}" href="/">홈</a>
          <a class="{% if page.category == 'archive' %} selected {% endif %}" href="/archive/">전체글</a>
          <a class="{% if page.category == 'trans' %} selected {% endif %}" href="//github.com/nolboo/nolboo.github.io/wiki">번역글 위키</a>
        </nav>
        <div class="pull-right right logo">
          <div class="name">
            <a href="/">Nolboo's Blog</a><br />
            <small>
              <em>
                  <a href="/">Learn to do. Learn by doing.</a>
              </em>
            </small>
          </div>
          <a href="/feed.xml"><img class="avatar" src="/images/rss.jpg" alt="RSS" /></a>
        </div>
        <div class="clear"></div>
      </header>
      <div class="separator"></div>
      {{ content }}
      <div class="separator"></div>
    </div>
  </div>

  <div class="clear"></div>

  <footer>
    {% include footer.md %}
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!-- tag, category search -->
  <script src="/js/alexpearce.js"></script>
  <!-- TOC Generator -->
  <script src="/js/jquery.toc-1.1.4.min.js"></script>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42615434-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!--[> Naver Analytics <]-->
  <!--<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>-->
    <!--<script type="text/javascript">-->
    <!--if(!wcs_add) var wcs_add = {};-->
    <!--wcs_add["wa"] = "2eb4f737fd6490";-->
    <!--wcs_do();-->
  <!--</script>-->
  <!-- TOC Generator -->
  <script>
     $('#toc').toc({exclude: 'h1, h6', autoId: true});
  </script>
  <!-- https://pepper.swat.io/ -->
  <script async src='https://pepper.swat.io/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiI0QTkwRTIiLCJjdXN0b21Db2xvciI6ZmFsc2UsImljb24iOiJidWJibGUiLCJwcm9ub3VuIjoibWUiLCJsYW5ndWFnZSI6ImVuIiwiYnJhbmRlZCI6ZmFsc2UsImludHJvVGV4dCI6IuuGgOu2gOyZgCDrgYjrgYjtlZwg7J247Jew7J2EIOqwgOyguEJvQeyalF5eIiwiY2hhbm5lbHMiOltbImZhY2Vib29rIiwibm9sYm9vIiwic29jaWFsIl0sWyJ0d2l0dGVyIiwibjBsYjAwIiwic29jaWFsIl0sWyJnaXRodWIiLCJodHRwczovL2dpdGh1Yi5jb20vbm9sYm9vIiwic29jaWFsIl0sWyJ0ZWxlZ3JhbSIsIm5vbGJvbyIsInNvY2lhbCJdLFsiZW1haWwiLCJub2xib28ua2ltQGdtYWlsLmNvbSIsImNsYXNzaWMiXSxbIndlYnNpdGUiLCJodHRwczovL25vbGJvby5raW0iLCJjbGFzc2ljIl1dfQ=='></script>

<!--Annotation service-->
<!--<script async defer src="https://hypothes.is/embed.js"></script>-->

<!--Start of Tawk.to Script-->
<!--<script type="text/javascript">-->
<!--var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();-->
<!--(function(){-->
<!--var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];-->
<!--s1.async=true;-->
<!--s1.src='https://embed.tawk.to/5854dbfee7588f121244c675/default';-->
<!--s1.charset='UTF-8';-->
<!--s1.setAttribute('crossorigin','*');-->
<!--s0.parentNode.insertBefore(s1,s0);-->
<!--})();-->
<!--</script>-->
<!--End of Tawk.to Script-->
</body>
</html>
